/**
 * Place your custom CSS styles here.
 **/

/** This is the wrapper box that the drag and drop box is not allowed to pass outside of this box.**/

/** style for draggable content **/

.draggable {
    font-size: 14px;
    /*display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	font-weight:bold;
	top:100px;
	right:10px;
	width:300px;
	height:150px;
	position: absolute;
	z-index: 999999;*/
}
.draggable select {
	width: 175px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: .75em;
}
#cb_mojo_update_ticket {
    width: 100%;
}
#assign_to_me, #open_ticket {
    width: 100%;
    font-size: 10px;
    text-align: center;
    float: left;
}
#open_ticket {
    font-size: 12px;
}