body {
    padding-top: 0px !important
}

.main-container {
    margin: 10px;
}

hr {
    clear: both;
}

.options_header {
    float: left;
    font-size: 20px;
    line-height: 75px;
    font-weight: bold;
}

.options_logo {
    float: right;
    height: 75px;
    width: 75px;
}