/**
 * Place your custom CSS styles here.
 **/


/** This is the wrapper box that the drag and drop box is not allowed to pass outside of this box.**/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,800,800italic);
#cb_mojo_display {
    font-family: 'Open Sans', sans-serif;
    height: 450px;
    width: 200px;
    overflow: hidden;
    position: relative;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#cb_mojo_display .ticket_info, #cb_mojo_display .ticket_private_message, #cb_mojo_display .ticket_messages {
    display: none;
}


/** Directed At Modal Mode **/

.ticket_messages {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.ticket_messages .message_header {
    display: block;
    height: 30px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px dashed #000;
    margin-bottom: 5px;
}

.ticket_messages .message_header .user_pic {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    background-position: left;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.ticket_messages .user_info, .ticket_messages .time_info {
    float: left;
    display: block;
    width: 175px;
    height: 15px;
    line-height: 15px;
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.ticket_messages .user_info {
    font-weight: bold;
    clear: right;
}
.user_pic[data-user_id='0'] {
    background-image: url(chrome-extension://__MSG_@@extension_id__/icons/optimus.gif);
}
.user_info[data-user_id='0']::before {
    content: "Automated";
}

.ticket_messages .is_private {
    background-color: lightgray;
    -webkit-filter: invert(.8);
}

.ticket_messages .is_private .user_info[data-user_id]::after {
    content: " (Private)";
}

.ticket_private_message {}

.ticket_private_message textarea {
    width: 90%;
    height: 70px;
    display: block;
    position: relative;
}

.ticket_private_message button {
    width: 90%;
    clear: both;
}


/** Directed At All Modes **/

#cb_mojo_update_ticket {
    width: 100%;
}

#assign_to_me, #open_ticket {
    width: 95%;
    font-size: 10px;
    text-align: center;
    float: left;
}

#open_ticket {
    font-size: 12px;
}